* {
  margin: 0;
  padding: 0;
}

.header-ly {
  padding: 1% 3% 0.5% 0%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.container-pre {
  grid-column-start: 1;
  grid-column-end: 2;
}

.container-men {
  grid-column-start: 2;
  grid-column-end: 3;
}

.presentacion-ly {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.txt-tit-header-ly {
  margin-top: 4%;
  margin-bottom: 4%;
}

.menu-ly {
  margin-top: 4%;
  margin-bottom: 4%;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
}

.menu-ly > li {
  margin-right: 1.5%;
  margin-left: 1.5%;
}

.menu-icon-contain-ly {
  height: 16.5px;
  width: 18px;
  padding-top: 0.05px;
  padding-left: 1.5px;
  border-radius: 5%;
  transition-duration: 2s;
}

.menu-icon-item-ly {
  position: relative;
  margin: 2px;
  height: 3px;
  width: 12px;
  transition-duration: 2s;
}

.menu-desplega-ly {
  opacity: 0;
  transition-duration: 2s;
}

.menu-icon-contain-ly:hover {
  height: 70px;
  width: 60px;
}

.menu-icon-contain-ly:hover .menu-desplega-ly {
  opacity: 1;
}

.menu-icon-contain-ly:hover .menu-icon-item-ly:nth-child(1) {
  transition-timing-function: ease;
  transform: rotate(-90deg);
  left: -20px;
}

.menu-icon-contain-ly:hover .menu-icon-item-ly:nth-child(2) {
  transition-delay: 100ms;
  transition-timing-function: ease;
  transform: rotate(-90deg);
  left: -20px;
}

.menu-icon-contain-ly:hover .menu-icon-item-ly:nth-child(3) {
  transition-delay: 400ms;
  transition-timing-function: ease;
  transform: rotate(-90deg);
  left: -20px;
}

.portada-ly {
  min-height: 80vh;
  align-content: center;
  padding: 0 35.5%;
}

.boton-ly {
  margin-top: 400%;
  padding: 5.5% 2%;
}

.main-ly {
  padding: 2% 3%;
}

.galeria-grid-ly {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

 .image1-container-ly {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-left: 750px;
}

.image2-container-ly {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.image3-container-ly {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  margin-left: 750px;
}

.footer-ly {
  padding: 2% 3% 0.3%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.signature-ly {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.aboutus-ly {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 3;
}

.RRSS-ly {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
