@font-face {
  font-family: "Inter-VariableFont_opsz\,wght";
  src: url("../fonts/Inter-VariableFont_opsz\,wght.ttf") format("truetype");
}
@font-face {
  font-family: "Inter-Italic-VariableFont_opsz\,wght";
  src: url("../fonts/Inter-Italic-VariableFont_opsz\,wght.ttf")
    format("truetype");
}

.header_sk {
  background-color: rgb(254, 237, 183);
}

.txt_tit_header_sk {
  font-family: "Inter-VariableFont_opsz\,wght";
  font-size: 120%;
  color: rgb(112, 34, 0);
  list-style-type: none;
}

.txt_menu_sk {
  font-family: "Inter-VariableFont_opsz\,wght";
  font-size: 80%;
  color: rgb(112, 34, 0);
  text-decoration: none;
}

.menu_icon_contain_sk {
  background-color: rgb(112, 34, 0);
}

.menu_icon_item_sk {
  background-color: rgb(254, 237, 183);
}

.txt_menu_desplega_sk {
  font-family: "Inter-VariableFont_opsz\,wght";
  font-size: 80%;
  color: rgb(254, 237, 183);
  text-decoration: none;
}

.portada_sk {
  background-image: url("..//photos/setita_ceramica_background.jpg");
  background-size: 2000px;
}

.txt_tit_portad_sk {
  color: rgb(254, 237, 183);
  font-family: "Inter-VariableFont_opsz\,wght";
  font-size: 450%;
  font-weight: bold;
}

.boton_sk {
  background-color: rgb(137, 44, 3);
  border-radius: 8%;
  color: rgb(254, 237, 183);
  font-family: "Inter-VariableFont_opsz\,wght";
  font-size: 150%;
  text-decoration: none;
}

.main_sk {
  background-color: rgb(255, 245, 215);
}

.txt_h2_sk {
  font-family: "Inter-VariableFont_opsz\,wght";
  font-size: 250%;
  font-weight: bold;
  color: rgb(112, 34, 0);
}

.txt_tit_item_ti_sk {
  font-family: "Inter-VariableFont_opsz\,wght";
  font-size: 110%;
  font-weight: bold;
  color: rgb(112, 34, 0);
  text-decoration: none;
}

.txt_desc_item_ti_sk {
  font-family: "Inter-VariableFont_opsz\,wght";
  font-size: 100%;
  color: rgb(112, 34, 0);
}

.txt_prec_item_ti_sk {
  font-family: "Inter-VariableFont_opsz\,wght";
  font-size: 100%;
  font-weight: bold;
  color: rgb(112, 34, 0);
}

.footer_sk {
  background-color: rgb(254, 237, 183);
}

.txt_signature_sk {
  font-family: "Inter-VariableFont_opsz\,wght";
  font-size: 103%;
  color: rgb(112, 34, 0);
}

.txt_tit_about_sk {
  font-family: "Inter-VariableFont_opsz\,wght";
  font-size: 75%;
  color: rgb(112, 34, 0);
  list-style-type: none;
}

.txt_about_sk {
  font-family: "Inter-VariableFont_opsz\,wght";
  font-size: 75%;
  color: rgba(137, 44, 3, 0.77);
  list-style-type: none;
}
