.header-sk {
  background-color: rgb(254, 237, 183);
}

.txt-tit-header-sk {
  font-family: "inter-variable-opsz";
  font-size: 120%;
  color: rgb(112, 34, 0);
  list-style-type: none;
}

.txt-menu-sk {
  font-family: "inter-variable-opsz";
  font-size: 80%;
  color: rgb(112, 34, 0);
  text-decoration: none;
}

.menu-icon-contain-sk {
  background-color: rgb(112, 34, 0);
}

.menu-icon-item-sk {
  background-color: rgb(254, 237, 183);
}

.txt-menu-desplega-sk {
  font-family: "inter-variable-opsz";
  font-size: 80%;
  color: rgb(254, 237, 183);
  text-decoration: none;
}

.portada-sk {
  background-image: url("public/assets/backgrounds/capullos-de-bicacaro.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.txt-tit-portad-sk {
  color: rgb(254, 237, 183);
  font-family: "inter-variable-opsz";
  font-size: 450%;
  font-weight: bold;
}

.boton-sk {
  background-color: rgb(137, 44, 3);
  border-radius: 8%;
  color: rgb(254, 237, 183);
  font-family: "inter-variable-opsz";
  font-size: 150%;
  text-decoration: none;
}

.main-sk {
  background-color: rgb(255, 245, 215);
}

.txt-h2-sk {
  font-family: "inter-variable-opsz";
  font-size: 250%;
  font-weight: bold;
  color: rgb(112, 34, 0);
}

.txt-tit-item-ti-sk {
  font-family: "inter-variable-opsz";
  font-size: 110%;
  font-weight: bold;
  color: rgb(112, 34, 0);
  text-decoration: none;
}

.txt-desc-item-ti-sk {
  font-family: "inter-variable-opsz";
  font-size: 100%;
  color: rgb(112, 34, 0);
}

.txt-prec-item-ti-sk {
  font-family: "inter-variable-opsz";
  font-size: 100%;
  font-weight: bold;
  color: rgb(112, 34, 0);
}

.footer-sk {
  background-color: rgb(254, 237, 183);
}

.txt-signature-sk {
  font-family: "inter-variable-opsz";
  font-size: 103%;
  color: rgb(112, 34, 0);
}

.txt-tit-about-sk {
  font-family: "inter-variable-opsz";
  font-size: 75%;
  color: rgb(112, 34, 0);
  list-style-type: none;
}

.txt-about-sk {
  font-family: "inter-variable-opsz";
  font-size: 75%;
  color: rgba(137, 44, 3, 0.77);
  list-style-type: none;
}
