@font-face {
  font-family: "inter-variable-opsz";
  src: url("public/fonts/inter-variable-opsz.ttf") format("truetype");
}
@font-face {
  font-family: "inter-variable-opsz-italic";
  src: url("public/fonts/inter-variable-opsz-italic.ttf") format("truetype");
}

html {
  overflow-x: hidden;
}
