.header-ly {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.container-pre {
  grid-column-start: 1;
  grid-column-end: 2;
}

.container-men {
  grid-column-start: 2;
  grid-column-end: 3;
}

.presentacion-ly {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.txt-tit-header-ly {
  margin-top: 4%;
  margin-bottom: 4%;
}

.menu-ly {
  margin-top: 4%;
  margin-bottom: 4%;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
}

.menu-ly > li {
  margin-right: 1.5%;
  margin-left: 1.5%;
}

.menu-icon-contain-ly {
  height: 16.5px;
  width: 18px;
  padding-top: 0.05px;
  padding-left: 1.5px;
  border-radius: 5%;
  transition-duration: 2s;
}

.menu-icon-item-ly {
  position: relative;
  margin: 2px;
  height: 3px;
  width: 12px;
  transition-duration: 2s;
}

.menu-desplega-ly {
  opacity: 0;
  transition-duration: 2s;
}

.menu-icon-contain-ly:hover {
  height: 70px;
  width: 60px;
}

.menu-icon-contain-ly:hover .menu-desplega-ly {
  opacity: 1;
}

.menu-icon-contain-ly:hover .menu-icon-item-ly:nth-child(1) {
  transition-timing-function: ease;
  transform: rotate(-90deg);
  left: -20px;
}

.menu-icon-contain-ly:hover .menu-icon-item-ly:nth-child(2) {
  transition-delay: 100ms;
  transition-timing-function: ease;
  transform: rotate(-90deg);
  left: -20px;
}

.menu-icon-contain-ly:hover .menu-icon-item-ly:nth-child(3) {
  transition-delay: 400ms;
  transition-timing-function: ease;
  transform: rotate(-90deg);
  left: -20px;
}

.portada-ly {
  min-height: 80vh;
  align-content: center;
  padding: 0 35.5%;
}

.boton-ly {
  margin-top: 400%;
  padding: 5.5% 2%;
}

.main-ly {
  padding: 2% 3%;
}

.sheet-container-ly {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 1fr 1fr;
}

.row1-left-sheet-ly {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.row1-right-sheet-ly {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

form {
  max-width: 600px;
}

label {
  display: block;
  margin-top: 20px;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 12px;
}

textarea {
  height: 140px;
  resize: vertical;
}

.input-flex-ly {
  display: flex;
  gap: 20px;
}

.input-flex-ly div {
  flex: 1;
}

button {
  margin-top: 24px;
  border: none;
  padding: 16px;
  font-size: 18px;
  border-radius: 8px;
  width: 100%;
}

.footer-ly {
  padding: 2% 3% 0.3%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.signature-ly {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.aboutus-ly {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 3;
}

.RRSS-ly {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
